body {
	font-family: 'Roboto', sans-serif;
	background-color: #f7f7f7;
}


/*tela de introdução*/
.introBanner {
	height: 100vh;
	width: 100%;
	background-image: url(../img/img2.2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

/*Nome da empresa na seção .introBanner*/
#brandName {
	position: absolute;
	top: 250px;
	text-align: center;
	width: 100%;
	display: block;
	color: #fff;
	font-size: 350%;
	text-transform: uppercase;
	font-weight: bold;
}


/*Background da navbar*/
.bg-custom {
	background-color: #1BB27B;/*#0ba867;*/
}

/*Dique alinha o botão da primeira seção*/
.btnHolder {
	width: 100%;
	text-align: center;
}

.btnHolder button {
	font-weight: 700;
}

/*seçao de informações*/

.intro {
	padding: 3em 1em 3em 1em;
	background-color: #1481ae;
	color: #fff;
	line-height: 1.7;
}

.intro h1 {
	text-align: center;
}

.info .row > div {
	padding-top: 1em;
	padding-bottom: 1em;
}


.info h3 {
	font-size: 200%;
	color:#1481ae;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}

h2 {
	font-size: 230%;
}

/*Formulário de contato*/

.faleConosco form{
	/*background-color: #1481ae;*/
	padding: 1em;
}
.faleConosco p {
	text-align: center;
}

.faleConosco h2 {
	text-align: center;
}

.faleConosco form div {
	margin-bottom: 1em;
	margin-top: 1em;
}

.faleConosco label {
	display: block;
	font-weight: bold;
}

.faleConosco input {
	width: 100%;
	font-weight: bold;
	padding: 0.5em;
	border: 1px solid #c3c3c3;
}

.faleConosco textarea {
	width: 100%;
}


/*Configurações do footer*/
footer {
	background-color: #333;
	color: #fff;
}

footer span {
	text-align: center;
	display: block;
	padding: 1em;
}

#btnBackTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #1BB27B;
	border: none;
	font-weight: bold;
	border-radius: 5px;
	color: #fff;
	display: none;
	transition: all 0.5s;
	font-size: 30px;
	width: 50px;
	height: 50px;
}

#btnBackTop:hover {
	background-color: #047F5D;
	cursor: pointer;
}


.visible { /*Faz o botão backTop aparecer*/
	display: block !important;
}

.navbar {
	transition: all 0.3s;
}

.hideContent {
	overflow: hidden;
	max-height: 0;
	transition: all 1s;
}

.showContent {
	max-height: 1000px;
}

.navbar-brand {
	font-weight: 700;
	text-transform: uppercase;
}

.navbar {
	
	font-weight: 300;
}

.btn-custom {
	background-color: #1BB27B;
	color: #fff;
	border: none;
}

.btn-custom:hover {
	background-color: #047F5D;
}

.custom-itens {
	font-size: 80px;
	color: #1BB27B;
	margin-bottom: 15px;
}

.features article {
	padding-top: 2em;
	padding-bottom: 2em;
}

/*Medias sociais - formulário de contato*/

ul#social {
	list-style-type: none;
	margin-right:0;
	padding: 0;
}

#social li {
	display: inline-block;
	font-size: 30px;
}

#social li a {
	color: #888;
}

/*Icones do facebook, twitter, e google plus*/
.f-icon {
	color: #3b5998;
}

.f-icon:hover {
	color: #31497c;
}

.t-icon {
	color: #00aced;
}

.t-icon:hover {
	color:#0590c5;
}

.g-icon {
	color: #dd4b39;
}

.g-icon:hover {
	color: #c74231;
}


